API_ID=
API_HASH=
BOT_TOKEN=
MONGO_DB_URI=
OWNER_ID=
LOGGER_ID=
STRING_SESSION=
STRING_SESSION2=
STRING_SESSION3=
BOT_ABOUT=
SOURCE_URL=https://github.com/blaceff07/BlacMusicBot
SUPPORT_CHANNEL=https://t.me/TechTipsCode
SUPPORT_CHAT=https://t.me/SarangCafes
START_IMG=
PING_IMG=
RADIO_IMG=
DEFAULT_THUMB=
DURATION_LIMIT=300
QUEUE_LIMIT=30
PLAYLIST_LIMIT=20
AUTO_END=False
AUTO_LEAVE=False
THUMB_GEN=True
VIDEO_PLAY=False
VIDEO_MAX_HEIGHT=1080
COOKIE_URL=
EXCLUDED_CHATS=
EXCLUDED_USERNAMES=