API_ID=1234567
API_HASH=abcdef0123456789abcdef0123456789
BOT_TOKEN=1234567890:ABCdefGhIJKlmNoPQRsTUVwxyZ_12345678
MONGO_DB_URI=mongodb+srv://admin:securepassword123@cluster0.abcde.mongodb.net/BlacMusicBot?retryWrites=true&w=majority
OWNER_ID=1234567890
OWNER_USERNAME=blcqt
LOGGER_ID=-1001234567890
STRING_SESSION=1BQedYw0Bu...[Your_Pyrogram_String_Session_Here]...
SUPPORT_CHANNEL=https://t.me/Support_Channel
SUPPORT_CHAT=https://t.me/Support_Chat

#OPTIONAL
STRING_SESSION2=
STRING_SESSION3=
BOT_ABOUT=Advanced Telegram Voice Chat Music Streaming Bot
SOURCE_URL=https://github.com/blacff07/BlacMusicBot
START_IMG=https://files.catbox.moe/xtrniy.jpg
PING_IMG=https://files.catbox.moe/fykkhm.jpg
RADIO_IMG=https://files.catbox.moe/1uuqbq.jpg
DEFAULT_THUMB=https://files.catbox.moe/iqcu1l.jpg
STATS_IMG=https://files.catbox.moe/kaujz9.jpg
HELP_IMG=https://files.catbox.moe/ot43nl.jpg
DURATION_LIMIT=1500
QUEUE_LIMIT=30
PLAYLIST_LIMIT=20
AUTO_END=False
AUTO_LEAVE=False
THUMB_GEN=True
VIDEO_PLAY=True
VIDEO_MAX_HEIGHT=1080
CLEANUP_MSG=True
COOKIE_URL=https://raw.githubusercontent.com/username/repo/main/cookies.txt
EXCLUDED_CHATS=-1001111111111, -1002222222222
EXCLUDED_USERNAMES=SpamBot,RudeUserBot